<h1><%= title %></h1>
<link rel="stylesheet" href="<%= cssFile %>" />

<ul>
  <% notes.forEach(note => { %>
  <li>
    <h3><%= note.title %></h3>
    <p><%= note.content %></p>
  </li>
  <% }) %>
</ul>

<div class="folder-grid">
  <% notes.forEach(note => { %>
  <div id="<%= note.note_id %>" class="folder-item">
    <a href="/cards_<%= note.template %>" class="folder-link">
      <img src="/images/folder.jpg" alt="폴더" />
    </a>
    <%= note.title %>
  </div>
  <% }) %>
</div>
